/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
    z-index: 1;
}

/* Focuses */
.a:focus,
.overlayclass:focus {
    color: #000000;
    outline: 1px dotted #333333;
    background-color: #ffffff !important;
}

#skip-link a,
#skip-link a:focus {
    color: #ffffff !important;
}

a.js-menu-minipanel-toggle:focus,
ul#main-menu li .js-menu-minipanel-toggle:focus {
    outline: 1px dotted #ffffff;
    background-color: transparent !important;
}

.zone-branding a:focus,
.view-os2web-base-panels-view-sitestru a:focus,
.front .view-aktuelt a:focus {
    font-weight: bold;
    text-decoration: underline;
    color: #ffffff;
    outline: 1px dotted #ffffff;
    background-color: transparent;
}

.zone-content a:focus {
    outline: 1px dotted #333333;
}

.zone-footer a:focus {
    font-weight: bold;
    outline: 1px dotted #ffffff;
}

.view-id-os2web-base-panels-view-sitestru .views-field-name a:focus {
    color: #000000 !important;
}

#mini-panel-forside_minipanel a.toggle-panel,
#mini-panel-forside_minipanel .pane-title a {
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    outline-color: #ffffff;
    background-color: transparent !important;
    background-position: 50% 50%;
}

textarea:focus,
input[type='text']:focus {
    background-color: pink;
}

textarea:focus {
    background: pink;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 12px;
    color: #272727;
    -webkit-font-smoothing: antialiased;
}

.ui-widget {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.front .full-screen-background {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-weight: normal;
    margin-bottom: 5px;
}

a {
    color: #407daa;
}

#zone-footer-wrapper {
    color: #ffffff;
    border-top: 10px solid #00538f;
    border-image: url(img/footer-bg-andresider.png) 9 0 0 0 repeat;
    background-image: url(img/footer-bg.png);
}

.page-andre-sider #zone-footer-wrapper {
    border-top: 10px solid #00538f;
    border-image: url(img/footer-bg-andresider.png) 9 0 0 0 repeat;
}

#zone-footer a {
    text-decoration: none;
    color: #ffffff;
}

#zone-footer li {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.page-nyheder #block-delta-blocks-breadcrumb
.page-nyheder.responsive-layout-narrow #block-search-form,
.not-front.responsive-layout-narrow .vegas-background {
    display: none !important;
}

.spotbox-row img {
    width: 100%;
    height: auto;
}

.spotbox-row .spotbox_right img {
    max-width: 230px;
    max-height: 115px;
}

.spotwrapper {
    display: block;
    height: auto;
    margin-bottom: 10px;
    padding: 5px;
    background-image: url(img/c-bg.png);
}

.show-links {
    position: absolute;
    z-index: 90;
    width: 31px;
    height: 31px;
    cursor: pointer;
    background: url('img/spotbox-sprite.png') no-repeat scroll 0 -3px;
}

.show-links.open {
    background: url('img/spotbox-sprite.png') no-repeat scroll -37px -3px;
}

.spotbox .item-list {
    position: absolute;
    overflow: hidden;
    width: 210px;
    height: 148px;
    border-bottom: 5px solid #efbe02;
    background: rgba(255, 255, 255, .8);
}

.spotbox .item-list ul {
    padding-top: 10px;
}

.spotbox .item-list ul li {
    overflow: hidden;
    height: 13px;
    margin: 0 0 0 11px;
    padding: 0 0 9px;
}

.spotbox .item-list a {
    font-size: 1em;
    padding-left: 17px;
    text-decoration: none;
    color: #2d2d2b;
    background: url('img/ikon-gul-3omv.png') no-repeat scroll 0 2px;
}

.spotbox .border {
    height: 9px;
}

.spotbox .border.selvbetjening {
    background: url('img/lineYellow.png');
}

.spotbox .border.term-4 {
    background: url('img/lineGreen.png');
}

.spotbox .border.term-5 {
    background: url('img/lineBlue.png');
}

.spotbox .border.term-6 {
    background: url('img/lineRed.png');
}

.spotbox .text {
    height: 58px;
    margin: 0;
    padding: 5px 8px 0;
    background: url('img/andresider-listebg.png');
}

.spotbox .text a {
    text-decoration: none;
    color: #272727;
}

.spotbox .goto {
    position: absolute;
    display: block;
    width: 31px;
    height: 31px;
}

.spotbox .goto.term-4 {
    background: url('img/spotbox-sprite.png') no-repeat scroll -74px -3px;
}

.spotbox .goto.term-5 {
    background: url('img/spotbox-sprite.png') no-repeat scroll -111px -3px;
}

.spotbox .goto.term-6 {
    background: url('img/spotbox-sprite.png') no-repeat scroll -149px -3px;
}

.spotbox .show-links-wrapper,
.spotbox .goto-wrapper {
    position: relative;
    top: -10px;
    right: 36px;
    float: right;
}

.spotbox .pane-title {
    overflow: hidden;
}

.spotbox .pane-title a {
    text-decoration: none;
    color: white;
}

.spotbox .spotbox_no_picture {
    height: 106px;
}

/* <-- spotbox portal */

.spotwrapper h2.pane-title,
.spotwrapper h3.pane-title {
    font-size: 14px;
    height: 19px;
    margin: 0;
    padding: 5px 10px;
    color: #ffffff;
    background-image: url(img/spot-title-yellow.png);
}

.sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.mobile-logo a {
    font-size: 1.75em;
    line-height: 40px;
    display: block;
    float: left;
    width: 210px;
    height: 40px;
    padding-top: 5px;
    padding-left: 45px;
    text-decoration: none;
    color: #ffffff;
    background-image: url(../mobil-logo.png);
    background-repeat: no-repeat;
    background-position: 10px 5px;
    background-size: 27px auto;
}

.region-branding .logo-img a {
    display: block;
}

#sliding-popup .popup-content #popup-text {
    max-width: 90%;
}

#sliding-popup .popup-content {
    width: 100%;
}

a.overlayclass {
    display: table;
}

.jcrop-holder img,
.jcrop-preview-wrapper img,
.imagefield-crop-cropbox img {
    max-width: none;
}

.slider_left,
.slider_right {
    display: none;
}

/* Hide external links on kultunaut page (node 896240) URL: http://www.kultunaut.dk/perl/arrlist/type-odsherred2?Area=Odsherred-storkommune&periode=1 */
.page-node-896240 span.ext {
    display: none;
}

/* Remove original styling on frontpage footer */
#zone-footer-wrapper {
    padding: 6px 0;
    border-top: 0;
    border-image: none;
    background-color: #00538f;
    background-image: none;
}

.front #section-footer {
    height: auto !important;
}

.front #section-footer h5 {
    margin-bottom: 0;
}

.front #section-footer .content {
    line-height: 30px;
    min-height: 30px;
}

.media-youtube-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.media-youtube-video iframe,
.media-youtube-video object,
.media-youtube-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sidebar ul.menu li {
    margin: 0;
}

.sidebar ul.menu li.collapsed {
    list-style: none;
}

/* global */
.selvbetjening {
}

.selvbetjening .item-list {
    margin-bottom: 6px;
}

.selvbetjening .item-list > h3 {
    position: relative;
    display: block;
    background-color: #00538f;
    color: #fff;
    margin: 0;
    padding: 10px 12px;
    font-weight: bold;
    cursor: hand;
    cursor: pointer;
    font-size: 22px;
}

.selvbetjening .item-list > h3:after {
    background-image: url('img/plus.png');
    background-repeat: no-repeat;
    background-size: initial;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 24px;
    right: 23px;
    background-position: 50% 50%;
    padding: 0;
    margin: 0;
}

.page-selvbetjeninger .panel-region-stack2 .inside {
    padding-top: 0 !important;
}

.selvbetjening .item-list ul {
    display: none !important;
    background-color: #fff;
    margin-top: 10px;
}

.selvbetjening .item-list ul,
.selvbetjening .item-list ul li {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.selvbetjening .item-list.open ul {
    display: block !important;
}

.selvbetjening a {
    display: block;
    text-decoration: none;
    background: none !important;
    padding: 5px 12px !important;
    margin: 0;
    font-size: 16px;
}

.selvbetjening a,
.selvbetjening a:hover,
.selvbetjening a:active {
    color: #000 !important;
}

