/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

ul#main-menu
{
    display: block;

    height: 58px;
    margin-top: 10px;
    padding: 0;
}

ul#main-menu li
{
    display: block;
    float: left;

    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 0;
}

ul#main-menu li.first
{
    margin-left: 0;
    padding-left: 0;
}

ul#main-menu li.last
{
    margin-right: 0;
    padding-right: 0;
}

ul#main-menu li a
{
    font-size: 22px;

    display: block;

    padding: 16px 16px 16px 50px;

    text-decoration: none;

    color: #fff;
    background-repeat: no-repeat;
}

ul#main-menu li.menu-782 a
{
    background-image: url(img/portalknap-borger.png);
}

ul#main-menu li.menu-783 a
{
    background-image: url(img/portalknap-erhverv.png);
}

ul#main-menu li.menu-784 a
{
    background-image: url(img/portalknap-politik.png);
}

.menu-minipanels .panel-region-kol1
{
    width: 200px !important;
}

.menu-minipanels .panel-region-kol2
{
    width: 200px !important;
}

.menu-minipanels .panel-region-kol3
{
    width: 200px !important;
}

.menu-minipanels .panel-region-kol4
{
    width: 265px !important;
}

.menu-minipanels .panel-region-kol4 .inside
{
    padding-right: 10px;
    padding-left: 20px;
}

.menu-minipanels .view-megadd-news .views-field-field-lead-image
{
    float: left;

    height: 60px;
    margin-right: 10px;
}

.menu-minipanels .view-megadd-news .views-field-title,
.menu-minipanels .view-megadd-news .views-field-created
{
    margin-left: 90px;
}

.menu-minipanels .view-megadd-news .views-row
{
    clear: both;

    min-height: 60px;
    margin-bottom: 10px;
}

.node-type-contentpage .field-slideshow-slide
{
    width: 690px;
}

.right-links-block
{
    color: #333;
}

.page-odherred-forside #search-block-form input[type='text']
{
    width: 481px !important;
}

#views_slideshow_cycle_main_aktuelt-panel_pane_3 .views-field-title .text-container
{
    font-size: 50px;
}

.gaatilforside
{
    position: absolute;

    display: block;

    width: 486px !important;
}

.megamini .panel-panel .inside .pane-content h2.pane-title
{
    font-size: 12px;

    width: 131px;
}

.vegas-loading
{
    position: fixed;
    z-index: 0;
    top: 20px;
    left: 20px;

    display: none;

    width: 32px;
    height: 32px; -webkit-border-radius: 10px;
    /* Loading Gif by http://preloaders.net/ */
    -moz-border-radius: 10px;         border-radius: 10px;
    background: none;
}

.vegas-background
{
    z-index: -2;

    -ms-interpolation-mode: bicubic;
}

.fedbackogminside
{
    display: inline;
}

.qtip-cmstheme
{
    width: 940px !important;
}

.pane-quicktabs-nyheder,
.page-nyheder .panel-region-lead .relative-container
{
    display: block;
}
