@media (max-width: 739px) {
  /* Grabbed from alpha-reset (mn@bellcom.dk) */
  body,
  div {
    font-size: 14px;
  }

  h1 {
    line-height: 1.1em;
  }

  h1 {
    font-size: 2.9em;
  }

  h2 {
    font-size: 2.0em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.4em;
  }

  h5 {
    font-size: 2.3em;
  }

  #zone-footer h5 {
    font-size: 2.3em;
    line-height: .75em;
    letter-spacing: 0;
  }

  h6 {
    font-size: 2.1em;
  }

  .sidetitel {
    font-weight: bold;
    font-size: 22px;
    padding-top: 20px;
  }
  .sidetitel div {
    font-size: 22px;
  }

  a {
    color: #407daa;
  }

  .region-content a:visited,
  .region-content a {
    font-weight: bold;
  }

  #zone-footer-wrapper {
    color: #ffffff;
    border-top: 10px solid #00538f;
    border-image: url(img/footer-bg-andresider.png) 9 0 0 0 repeat;
    background-image: url(img/footer-bg.png);
  }

  .page-andre-sider #zone-footer-wrapper {
    border-top: 10px solid #00538f;
    border-image: url(img/footer-bg-andresider.png) 9 0 0 0 repeat;
  }

  #zone-footer a {
    text-decoration: none;
    color: #ffffff;
  }

  #zone-footer li {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
  }

  body {
    padding-top: 0 !important;
  }

  #region-sidebar-first,
  #region-content,
  #region-header-first {
    margin: 0;
  }

  /* These are enabled by toggle button. */
  #search-block-form .container-inline,
  #block-menu-menu-mobil-top {
    clear: both;
  }

  .front #search-block-form .container-inline,
  .front #block-menu-menu-mobil-top {
    display: block;
  }

  .front .navbar-toggle {
    display: none;
  }

  .not-front.region-header-first-inner {
    display: none;
    clear: both;
  }

  li.expanded,
  li.collapsed,
  li.leaf {
    padding: 0 0 0 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .breadcrumb {
    margin: 0;
    padding: 0;
  }

  .not-mobile,
  .page-nyheder #block-delta-blocks-breadcrumb,
  .page-nyheder.responsive-layout-normal #block-search-form,
  .page-nyheder.responsive-layout-narrow #block-search-form,
  #qt-mobil_top-ui-tabs1,
  .vegas-background,
  .not-front.responsive-layout-narrow .vegas-background,
  .vegas-overlay,
  .vegas-loading,
  .background-images,
  span.ext,
  .goto-wrapper,
  #region-branding,
  #region-user-first,
  #region-header-second,
  #region-footer-second,
  #block-feedback-form,
  .node-type-news.sidetitel,
  .block-views-sitestuktur-block-2,
  .block-views-sitestuktur-block-3,
  .block-views-sitestuktur-block-4,
  #region-content .tabs,
  #region-content .sidetitel h1 slettesevt,
  #region-content .del-udskriv,
  #region-content .node-print,
  .block-addtoany,
  .block-redaktoer-info-block,
  #toolbar,
  #block-views-sitestuktur-block-2,
  .node-type-news#block-block-11,
  .pane-menu-presseservice,
  .front #block-system-main,
  .contextual-links-wrapper,
  .front.panel-display.panel-node {
    display: none !important;
  }

  .view-spotboxe .spotwrapper {
  }

  .view-spotboxe .views-row {
    float: left;
    width: 50%;
    margin: 0 0;
  }

  .view-spotboxe .views-row.views-row-odd {
    clear: both;
  }

  .view-spotboxe .views-row.views-row-odd .spotwrapper {
    display: block;
    margin-right: 5px;
  }

  .view-spotboxe .views-row.views-row-even .spotwrapper {
    display: block;
    margin-left: 5px;
  }

  h2.pane-title {
    font-size: 16px;
  }

  #region-sidebar-first li {
    display: block !important;
    float: none;
    margin: 0 !important;
    list-style: none;
  }

  #region-footer-first {
    margin: 5px;
  }

  #block-menu-menu-mobil-forside ul,
  #block-menu-menu-mobil-forside li,
  #block-menu-menu-mobil-footer ul,
  #block-menu-menu-mobil-footer li {
    margin-left: 0;
    padding-left: 0;
  }

  #block-menu-menu-mobil-forside li a,
  #region-sidebar-first li a {
    font-size: 1.4em;
    line-height: 1.8em;
    display: block;
    padding: 0 5px;
    text-decoration: none;
    border-bottom: 1px solid #333333;
  }

  #block-menu-menu-mobil-footer ul.menu {
    margin: 0 -5px;
    background: white;
  }

  #block-menu-menu-mobil-footer li a {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.8em;
    display: block;
    padding: 0 5px;
    text-decoration: none;
    color: #407daa;
    border-bottom: 1px solid #333333;
  }

  #zone-header-wrapper {
    display: none;
  }

  #region-sidebar-first .breadcrumb li a {
    border-bottom: none;
  }

  #region-sidebar-first li a.active {
    font-size: 1.8em;
    line-height: 1.8em;
    color: #ffffff;
    background-color: #000000;
  }

  .borgersider#region-sidebar-first li a.active,
  .context-borger.page-taxonomy-term#region-sidebar-first .block-menu-block h2.block-title a {
    background-color: #56ae30;
  }

  .context-erhverv.page-taxonomy-term#region-sidebar-first .block-menu-block h2.block-title a,
  .erhvervssider#region-sidebar-first li a.active {
    background-color: #3887c5;
  }

  .context-politik.page-taxonomy-term#region-sidebar-first .block-menu-block h2.block-title a,
  .politiksider#region-sidebar-first li a.active {
    background-color: #c63838;
  }

  #region-sidebar-first #breadcrumb li {
    display: list-item !important;
    list-style-position: inside !important;
    list-style-type: disc !important;
    list-style-image: url(img/ikon-larger.png) !important;
    border-bottom: none;
  }

  .page-node #region-sidebar-first .menu-block-wrapper ul li {
    display: none !important;
  }

  .page-node #region-sidebar-first .menu-block-wrapper ul li.active {
    display: block !important;
  }

  .erhvervssider #region-sidebar-first ul.menu li.collapsed {
    list-style-image: url(img/ikon-blue-larger.png) !important;
  }

  .erhvervssider #region-sidebar-first ul.menu li.leaf {
    list-style-image: url(img/ikon-blue-dot.png);
  }

  .politiksider #region-sidebar-first ul.menu li.collapsed {
    list-style-image: url(img/ikon-red-larger.png) !important;
  }

  .politiksider #region-sidebar-first ul.menu li.leaf {
    list-style-image: url(img/ikon-red-dot.png);
  }

  #region-sidebar-first .menu li.active ul li {
    display: list-item !important;
    list-style-position: inside !important;
    list-style-type: disc !important;
    list-style-image: url(img/ikon-green-dot.png);
  }

  #region-sidebar-first .menu li.active ul li.collapsed {
    list-style-image: url(img/ikon-green-larger.png);
  }

  #region-sidebar-first .block-menu-block h2.block-title,
  #region-sidebar-first #breadcrumb li.depth-1.odd.first {
    display: none !important;
  }

  .page-taxonomy-term#region-sidebar-first .block-menu-block h2.block-title {
    display: block !important;
  }

  .page-taxonomy-term#region-sidebar-first .block-menu-block h2.block-title a {
    font-size: 2.75em;
    display: block;
    padding-left: 2px;
    text-decoration: none;
    color: #ffffff;
  }

  #region-sidebar-first #breadcrumb a {
    font-size: 1.25em;
    color: #333333;
  }

  .hovenyhed-portalside {
    padding: 25px 0 15px;
  }

  .hovenyhed-portalside a {
    display: block;
    text-decoration: none;
    color: #333333;
  }

  #block-menu-block-17 {
    display: none;
  }

  #block-delta-blocks-breadcrumb {
    display: none;
  }

  #region-header-first #block-menu-menu-mobil-top .block-inner {
    padding: 10px 2px;
  }

  #region-header-first #block-menu-menu-mobil-top .content li {
    font-size: 1.8em;
    font-size: 100%;
    line-height: 2em;
    display: block;
    float: left !important;
    width: 33%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    border: none;
    border: none !important;
  }

  #region-header-first #block-menu-menu-mobil-top .content li a,
  #region-header-first #block-menu-menu-mobil-top .content li a:hover,
  #region-header-first #block-menu-menu-mobil-top .content li a:focus,
  #region-header-first #block-menu-menu-mobil-top .content li a:active {
    font-size: 1.8em;
    display: block;
    text-decoration: none;
    color: #ffffff;
    background-color: #3887c5;
    padding: 6px 0;
    border-radius: 4px;
    margin: 0 3px;
  }

  #region-header-first #block-menu-menu-mobil-top .content li.first {
    width: 34%;
  }

  #region-header-first #block-menu-menu-mobil-top .content li.first a,
  #region-header-first #block-menu-menu-mobil-top .content li.first a:hover,
  #region-header-first #block-menu-menu-mobil-top .content li.first a:focus,
  #region-header-first #block-menu-menu-mobil-top .content li.first a:active {
    background-color: #56ae30;
  }

  #region-header-first #block-menu-menu-mobil-top .content li.last a,
  #region-header-first #block-menu-menu-mobil-top .content li.last a:hover,
  #region-header-first #block-menu-menu-mobil-top .content li.last a:focus,
  #region-header-first #block-menu-menu-mobil-top .content li.last a:active
  {
    background-color: #c63838;
  }

  #region-header-first #block-menu-menu-mobil-top .content li a.active {
    font-size: 1.8em;
    color: #ffffff;
  }

  #region-header-first #block-search-form {
    display: none;
  }

  #section-header {
    max-width: 100%;
  }

  .region-header-first-inner {
    clear: both;
  }

  .gul-boks {
    margin: 10px -5px;
    padding: 15px 10px 0;
    border: 5px solid #f0dd99;
    background: url('img/lineYellow.png') repeat-x;
  }

  .node-type-contentpage .panel-region-stack2 {
    background-color: #f0be03;
    padding: 10px;
    margin-bottom: 20px;
  }

  .node-type-contentpage .panel-region-stack2 .view-kle-lonks-boks .item-list ul {
    margin: 0;
  }

  .node-type-contentpage .panel-region-stack2 a,
  .node-type-contentpage .panel-region-stack2 h1,
  .node-type-contentpage .panel-region-stack2 h2,
  .node-type-contentpage .panel-region-stack2 h3,
  .node-type-contentpage .panel-region-stack2 h4,
  .node-type-contentpage .panel-region-stack2 h5,
  .node-type-contentpage .panel-region-stack2 h6 {
    color: #ffffff;
  }

  .node-type-contentpage .panel-region-stack2 a,
  .node-type-contentpage .panel-region-stack2 .views-field-title a {
    font-weight: normal;
    font-size: 14px;
    text-decoration: underline;
  }

  .node-type-contentpage .panel-region-stack2 .panel-separator {
    height: 20px;
  }

  .node-type-contentpage .panel-region-stack2 .pane-selvbetjening .views-row,
  .node-type-contentpage .panel-region-stack2 .pane-kle-lonks-boks-panel-pane-1 li {
    display: list-item !important;
    margin: 0;
    list-style-position: inside !important;
    list-style-type: disc !important;
    list-style-image: url(img/ikon-green-dot.png) !important;
    padding: 2px 0;
  }

  .node-type-contentpage .panel-region-stack2 .pane-node-field-mediafile .pane-content {
    padding-bottom: 10px;
  }

  .page-node.region-inner.region-content-inner,
  .page-taxonomy-term.region-inner.region-content-inner {
    padding: 10px 5px;
  }

  #region-header-first .block-search .block-inner {
    padding: 5px;
  }

  #region-header-first .block-search .block-inner input.form-text {
    font-size: 15px;
    line-height: 1.428571429;
    width: 86%;
    height: 43px;
    padding: 10px 18px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    vertical-align: middle;
    color: #333333;
    border: 1px solid #cccccc;
    border-radius: 0;
    background-color: #ffffff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }

  #region-header-first .block-search .form-item,
  #region-header-first .block-search .form-actions {
    margin-top: 0;
  }

  #region-header-first .block-search input[type='submit'] {
    font: bold 12px/1.2 Arial, sans-serif;
    overflow: visible;
    width: 13%;
    max-width: 48px;
    height: 45px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #333333;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: 0;
    background: transparent url(img/search.png) no-repeat;
    text-shadow: none;
    -webkit-appearance: none;
  }

  .spotbox-row img {
    width: 100%;
    height: auto;
  }

  .spotbox-row .spotbox_right img {
    max-width: 230px;
    max-height: 115px;
  }

  .spotwrapper {
    display: block;
    height: auto;
    margin-bottom: 10px;
    padding: 5px;
    background-image: url(img/c-bg.png);
  }

  .spotwrapper {
    padding: 0;
  }

  .show-links {
    position: absolute;
    z-index: 90;
    width: 31px;
    height: 31px;
    cursor: pointer;
    background: url('img/spotbox-sprite.png') no-repeat scroll 0 -3px;
  }

  .show-links.open {
    background: url('img/spotbox-sprite.png') no-repeat scroll -37px -3px;
  }

  .spotbox .item-list {
    position: absolute;
    overflow: hidden;
    width: 210px;
    height: 148px;
    border-bottom: 5px solid #efbe02;
    background: rgba(255, 255, 255, .8);
  }

  .spotbox .item-list ul {
    padding-top: 10px;
  }

  .spotbox .item-list ul li {
    overflow: hidden;
    height: 13px;
    margin: 0 0 0 11px;
    padding: 0 0 9px;
  }

  .spotbox .item-list a {
    font-size: 1em;
    padding-left: 17px;
    text-decoration: none;
    color: #2d2d2b;
    background: url('img/ikon-gul-3omv.png') no-repeat scroll 0 2px;
  }

  .spotbox .border {
    height: 9px;
  }

  .spotbox .border.selvbetjening {
    background: url('img/lineYellow.png');
  }

  .spotbox .border.term-4 {
    background: url('img/lineGreen.png');
  }

  .spotbox .border.term-5 {
    background: url('img/lineBlue.png');
  }

  .spotbox .border.term-6 {
    background: url('img/lineRed.png');
  }

  .spotbox .text {
    line-height: 1.2;
    height: 58px;
    margin: 0;
    padding: 5px 8px 0;
    background: url('img/andresider-listebg.png');
  }

  .spotbox .text a {
    text-decoration: none;
    color: #272727;
  }

  .spotbox .goto {
    position: absolute;
    display: block;
    width: 31px;
    height: 31px;
  }

  .spotbox .goto.term-4 {
    background: url('img/spotbox-sprite.png') no-repeat scroll -74px -3px;
  }

  .spotbox .goto.term-5 {
    background: url('img/spotbox-sprite.png') no-repeat scroll -111px -3px;
  }

  .spotbox .goto.term-6 {
    background: url('img/spotbox-sprite.png') no-repeat scroll -149px -3px;
  }

  .spotbox .show-links-wrapper,
  .spotbox .goto-wrapper {
    position: relative;
    top: -10px;
    right: 36px;
    float: right;
  }

  .spotbox .pane-title {
    overflow: hidden;
  }

  .spotbox .pane-title a {
    text-decoration: none;
    color: white;
  }

  .spotbox .spotbox_no_picture {
    height: 106px;
  }

  /* <-- spotbox portal */
  .spotwrapper h2.pane-title,
  .spotwrapper h3.pane-title {
    font-size: 14px;
    height: 19px;
    margin: 0;
    padding: 5px 10px;
    color: #ffffff;
    background-image: url(img/spot-title-yellow.png);
  }

  .alpha,
  .omega {
    margin: 0 0;
  }

  .navbar-toggle {
    position: relative;
    float: right;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    padding: 9px 10px;
    border: 1px solid transparent;
    border-radius: 0;
    background: transparent;
    background-color: transparent;
  }

  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }

  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  .navbar-toggle {
    z-index: 99999999;
    border-color: transparent;
  }

  .navbar-toggle:hover,
  .navbar-toggle:focus {
    background-color: #090909;
  }

  .navbar-toggle .icon-bar {
    background-color: #ffffff;
  }

  .sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  .mobile-logo a {
    font-size: 1.75em;
    line-height: 40px;
    display: block;
    float: left;
    width: 210px;
    height: 40px;
    padding-top: 5px;
    padding-left: 45px;
    text-decoration: none;
    color: #ffffff;
    background-image: url(../mobil-logo.png);
    background-repeat: no-repeat;
    background-position: 10px 5px;
    background-size: 27px auto;
  }

  /* Nyheder */
  .view-news-page-views a {
    text-decoration: none;
  }

  .panel-region-lead {
    clear: both;
    padding: 5px;
  }

  .panel-region-lead .header {
    font-size: 2em;
    padding-left: 8px;
    color: #ffffff;
    background: url('img/news-page-header.png');
  }

  .relative-container,
  .page-nyheder .panel-region-middle-right {
    display: none !important;
  }

  .view-news-page-views .view-content .views-row {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #dddddd;
  }

  .view-news-page-views .view-content .views-row.views-row-last {
    border-bottom: none;
  }

  .page-search #region-content,
  .view-news-page-views .view-content,
  .page-node #region-content {
    padding: 8px;
  }

  .list-2-left.news-page-list {
    border-right: 2px solid #dddddd;
  }

  .list-2-left.news-page-list,
  .list-3-right.news-page-list {
    float: left;
    width: 49.5%;
  }

  .list-8-bottom.news-page-list {
    border-top: 2px solid #dddddd;
  }

  .list-8-bottom.news-page-list .views-row,
  .pane-news-page-views-panel-pane-4 {
    clear: both;
  }

  .list-8-bottom.news-page-list .views-field-field-lead-image {
    float: left;
    margin-right: 8px;
    margin-bottom: 20px;
  }

  .views-field-title a {
    font-size: 1.25em;
    text-decoration: none;
  }

  .list-3-right.news-page-list a {
    font-size: 1.15em;
  }

  .quicktabs-tabs,
  #quicktabs-container-nyheder {
    padding: 0 8px 0;
  }

  .quicktabs-tabs ul {
    margin: 0;
    padding: 0;
  }

  .quicktabs-tabs li {
    margin: 0;
    padding: 0;
  }

  .quicktabs-tabs li a {
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
    color: #333333;
    background-color: #ededed;
  }

  .quicktabs-tabs li.active a {
    font-weight: bold;
    color: #ffffff;
    background-color: #333333;
  }

  .pane-quicktabs-nyheder {
    padding: 20px 0;
    background-color: #dddddd;
  }

  .view-news-page-views.most-read .view-header {
    font-size: 1.3em;
    margin-top: 20px;
    padding: 8px;
  }

  .node-type-news.field-type-image {
    margin-bottom: 12px;
  }

  /* Search */
  .page-search #block-system-main .form-text,
  .page-search #block-system-main .form-submit {
    font-size: 2.2em;
    line-height: 40px;
    clear: both;
  }

  .page-search #block-system-main .form-text {
  }

  .page-search #edit-basic label {
    display: none;
  }

  #sliding-popup .popup-content #popup-text {
    max-width: 90%;
  }

  #sliding-popup .popup-content {
    width: 100%;
  }
}
