/* Pagers Positioning */
.item-list .pager
{
    margin: 0;
    padding: 0;
}

.item-list .pager li,
.item-list .pager ul li
{
    float: left;

    margin: 0;
    padding: 0;
}

.item-list .pager
{
    font-size: 10px;

    position: relative;

    margin: 0;
    padding: 0;

    text-align: left;
}

.pager li a
{
    display: inline-block;
}

.pager li.pager-ellipsis,
.pager li.pager-current,
.pager li a
{
    padding: 4px 8px;

    text-decoration: none;
}

.pager li.pager-current
{
    font-weight: bold;

    padding: 4px 8px;
}

.pager li.pager-first a,
.pager li.pager-previous a,
.pager li.pager-next a,
.pager li.pager-last a
{
    width: 50px;
    padding: 4px 0;

    text-align: center;
}

.pager li.pager-next
{
    position: absolute;
    top: 0;
    right: 50px;
}

.pager li.pager-last,
.pager li.pager-next.last
{
    position: absolute;
    top: 0;
    right: 0;

    border-right: 0;
}

/* Pagers color */
.pager li.pager-ellipsis,
.pager li.pager-current,
.pager li a
{
    color: #1a1a1a;
}

.pager li
{
    font: bold 12px/1.2 Arial, sans-serif;

    color: #333;
    border-color: #ddd #bbb #999;
    border-right: 1px solid;
    outline: 0;
}

.pager li.pager-current
{
    color: #fff;
    outline: 0;
    background: #ddd url(../images/button.png) repeat-x;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1a1a1a), color-stop(1, #5a5a5a));
    background: -moz-linear-gradient(top center, #1a1a1a 0%, #5a5a5a 100%);
}

.pager li.pager-next
{
    border-color: #ddd #bbb #999;
    border-left: 1px solid;
}

.pager li a
{
    cursor: pointer;

    background: #ddd url(../images/button.png) repeat-x;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
    background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
}

.pager li a:hover
{
    color: #454545;
    background: #fff;
}

/* Add default border radius to list items & links */
.pager
{
    border: 1px solid;
    border-color: #ddd #bbb #999;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background: #ebebeb;
}

.pager li.first,
.pager li.first a,
.pager li.first a:hover
{
    -webkit-border-radius: 5px 0 0 5px;
       -moz-border-radius: 5px 0 0 5px;
            border-radius: 5px 0 0 5px;
}

.pager li.pager-last,
.pager li.pager-last a,
.pager li.pager-last a:hover
{
    -webkit-border-radius: 0 5px 5px 0;
       -moz-border-radius: 0 5px 5px 0;
            border-radius: 0 5px 5px 0;
}

table
{
    width: 100%;

    border: 1px solid #ccc;
}

thead th,
th
{
    color: #333;
    border-bottom: 1px solid #ccc;
    background: #f7f7f7;
}

td,
th
{
    padding: 4px 8px;

    vertical-align: middle;
}

th a,
th a:link,
th a:visited
{
    text-decoration: none;
}

th a
{
    display: block;
}

th a img
{
    margin: 0 0 0 5px;
}

th.active
{
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #ddd;
}

/* Odd & Even Styles */
tr.even td
{
    background: #f1f5fa;
}

tr.odd td
{
    background: #fff;
}

td.active
{
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

tr.even td.active
{
    background: #e5e9ed;
}

tr.odd td.active
{
    background: #f2f2f2;
}

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active
{
    background: #fffeee;
}

td ul.links
{
    margin-bottom: 0;
}

.node-links ul li a,
.comment-links ul li a
{
    font: bold 12px/1.2 Arial, sans-serif;

    display: block;
    float: left;
    overflow: visible;

    width: auto;
    margin: 0 .5em .5em 0;
    padding: 4px 10px 3px;

    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    text-transform: lowercase;

    color: #333;
    border: 1px solid;
    border-color: #ddd #bbb #999;
    -webkit-border-radius: 11px;
       -moz-border-radius: 11px;
            border-radius: 11px;
    outline: 0;
    background: #ddd url(../images/button.png) repeat-x;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
    background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
    -webkit-background-clip: padding;
       -moz-background-clip: padding;
            background-clip: padding-box;
    text-shadow: #fff 0 1px 1px;

    -webkit-appearance: none;
    /* IE7 */
    *padding-top: 2px;
    *padding-bottom: 0;
}

.node-links ul li a:hover,
.comment-links ul li a:hover
{
    background: #fff;
}

.tips,
.description
{
    font-size: 10px;

    color: #6a6a6a;
}

sup
{
    font-size: 65%;

    vertical-align: super;
}

sub
{
    font-size: 65%;

    vertical-align: sub;
}
